* {
    box-sizing: border-box;
}

@font-face{
    font-family: FantasqueSansMono;
    src: url('../src/FantasqueSansMono-NoLoopK/FantasqueSansMono-Regular.ttf')
}

body{
    margin: 0;
    font-family: 'FantasqueSansMono', monospace;
    font-size: 1.6vw;
    overflow: hidden;
}

.appContainer{
    background: radial-gradient(circle at 0% 100%, #282828 0%, #1d2021 100%);
    height: 100vh;
    width: 100vw;
}

.appContent{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #282828 transparent;
    padding: 1em;
}

.appFooter{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 6em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 0.5em;
    z-index: 2;
}

.ribbonContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0.25em;
    background-color: #3c3836a6;
    border: 1px solid #665c54;
    box-shadow: 0 0 10px rgba(255,255,255,0.05);
    transition: box-shadow 0.1s ease-in-out;
    backdrop-filter: blur(8px) saturate(30%);
    gap: 0.25em;
}

.ribbonContainer:hover{
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

.ribbonSection{
    height: 100%;
    width: fit-content;
    padding: 0.5em;
    background-color: transparent;
    border: 1px solid #665c54;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.ribbonSection label{
    font-size: 0.6em;
    padding: 0;
    border: 0;
    color:#ebdbb2;
    height: auto;
    width: fit-content;
    user-select: none;
}

.ribbonButton{
    background-color: #504945;
    transition: all 80ms ease-in-out;
    border: 1px solid #665c54;
    border-radius: 8px;
    justify-content: center;
}

.ribbonButton.textBoxButton{
    color: #83a498;
    font-size: 1em;
    height: 2em;
    width: 3em;
    filter: drop-shadow(0 0 0px #83a49800);
    padding: 0;
    margin: auto;
    user-select: none;
}

.ribbonButton.textBoxButton:hover{
    color: #ebdbb2;
    border: 1px solid #83a498;
    filter: drop-shadow(0 0 5px #83a498ff);
}

.ribbonButton.textBoxButton:active{
    background-color: #83a498;
    color: #ebdbb2;
    border: 1px solid #ebdbb2;
    filter: drop-shadow(0 0 5px #83a498ff);
}


.ribbonButton.staveBoxButton{
    color: #d3869b;
    font-size: 1em;
    height: 2em;
    width: 3em;
    filter: drop-shadow(0 0 0px #d3869b00);
    padding: 0;
    user-select: none;
}

.ribbonButton.staveBoxButton:hover{
    color: #ebdbb2;
    border: 1px solid #d3869b;
    filter: drop-shadow(0 0 5px #d3869bff);
}

.ribbonButton.staveBoxButton:active{
    background-color: #d3869b;
    color: #ebdbb2;
    border: 1px solid #ebdbb2;
    filter: drop-shadow(0 0 5px #d3869bff);
}

.staveBoxContents{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
    align-items: start;
    height: 2.3em;
}

.staveBoxOptions{
    width: 5em;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5em 0.8em 0.5em 0.8em;
    gap: 0.1em;

}

.staveBoxOptions input{
    appearance: none;
    font-family: 'FantasqueSansMono';
    color: #ebdbb2;
    font-size: 0.5em;
    background-color: #504945;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0px;
    padding-left: 0.3em;
    transition: all 100ms ease-in-out;
    outline: 1px solid #ebdbb200;
    outline-offset: 0px;
}

.staveBoxOptions input:focus-visible{
    border: none;
    outline: 1px solid #ebdbb2a6;
    outline-offset: 2px;
}

.staveBoxOptions input::-webkit-outer-spin-button,
                 input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.staveBoxOptions label{
    font-size: 0.5em;
    width: 100%;
    height: 100%;
    user-select: none;
}


.exportButton{
    flex: none;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #504945;
    border-radius: 8px;
    border: 1px solid #665c54;
    box-shadow: 0 0 10px rgba(255,255,255,0.05);
    transition: box-shadow 0.1s ease-in-out;
}

.exportButton:hover{
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

.exportButton:active{
    background-color: #665c54;
    border: 1px solid #928374;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

.workspaceContainer{
    height: fit-content;
    min-height: 90vh;
    width: calc(100% - 8em);
    border-radius: 8px;
    padding: 1em;
    background-color: #fbf1c7;
    border: 1px solid #555;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
    transition: box-shadow 0.1s ease-in-out,
                filter 0.2s ease-out;
    filter: drop-shadow(0 0 10px rgba(255,255,255,0.2));
    position: relative;
    margin: auto;
}

.workspaceContainer:focus{
    border: 1px solid #555;
    outline: 0;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    filter: drop-shadow(0 0 10px rgba(255,255,255,0));
}

.postWorkspaceBlankspace{
    width: calc(100% - 8em);
    height: 20vh;
}

.prototypeContainer{
    position: relative;
    z-index: 1;
    background-color: transparent;
    display: grid;
    gap: 0.5em;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0);
    transition: 
        box-shadow 100ms ease-in-out;
    padding: 0.5em;
    min-height: 1em;
    width: fit-content;
    margin-bottom: 0.5em;
    color: #282828;
    transform: scale(100%);
    backdrop-filter: blur(2px);
}

.prototypeContainer:hover{
    outline: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.prototypeContainer:focus-within{
    outline: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.prototypeContainer.dragged{
    z-index: 50;
    background-color: #fbf1c799;
    outline: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.prototypeContainer.stave{
    grid-template-columns: 2em auto;
}

.prototypeContainer.text{
    grid-template-columns: 2em auto;
}

.prototypeContainer:hover .contextMenu{
    opacity: 100%;
}

.contextMenu{
    min-height: 1em;
    height: 100%;
    width: 2em;
    border-radius: 8px 0px 0px 8px;
    opacity: 0%;
    transition: opacity 180ms ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 0.5em;
    clip-path: fill-box;
}

.dragHandle{
    color: #d5c4a1;
    width: 2em;
    min-height: 1em;
    max-height: 1.5em;
    height: min(100%, 1.5em);
    text-align: center;
    align-content: center;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    border: 0;
    transition: all 80ms ease-in-out;
}

.dragHandle:hover{
    color: #928374;
    background-color: #d5c4a1;
    border: 0;
}

.dragHandle:active{
    color: #f9f5d7;
    background-color: #928374;
    border: 0;
}

.dragHandle.forceActive{
    color: #f9f5d7;
    background-color: #928374;
    border: 0;
}

.deleteButton{
    color: #d5c4a1;
    width: 2em;
    min-height: 1em;
    max-height: 1.5em;
    height: min(100%, 1.5em);
    text-align: center;
    align-items: center; 
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    border: 0;
    transition: all 80ms ease-in-out;
    display: none;
}

.deleteButton:hover{
    color: #928374;
    background-color: #d5c4a1;
}

.deleteButton.show{
    display: flex;
}

.deleteButton svg{
    width: 100%;
    height: 60%;
}

.deleteButton.confirmDelete{
    color: #f9f5d7;
    background-color: #fb4934;
}

.deleteButton.confirmDelete:active{
    color: #f9f5d7;
    background-color: #cc241d;
}

.staveBox{
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1em auto 0.5em;
    grid-template-rows: 100%;
    gap: 2px;
}

.staveGrid{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: fit-content;
    padding: 0;
    gap: 0px 0px;
}

.staveGridCell{
    background-color: transparent;
    font-size: larger;
    width: 1em;
    height: 1em;
    text-align: center;
    user-select: none;
    transition: all 50ms ease-in-out;
}

.staveGridCell.highlight{
    background-color: #d5c4a1;
    z-index: 0;
}

.staveGridCell.highlight:hover:not(.focus){
    background-color: #928374;
    z-index: 2;
}

.staveGridCell:hover{
    background-color: #d5c4a1;
    z-index: 2;
}

.staveGridCell.focus{
    background-color: #d3869b;
    outline: 1px solid #282828;
    outline-offset: 1px;
    z-index: 3;
}

.staveGridCell.focus:hover{
    background-color: #b16286;
    outline: 1px solid #282828;
    outline-offset: 1px;
    z-index: 3;
}

.stringLabels{
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    user-select: none;
    cursor: pointer;
    transition: all 70ms ease-in-out;
    background-color: transparent;
    outline: 1px solid #d5c4a100;
}

.stringLabels:hover{
    background-color: #d5c4a1;
    outline: 1px solid #d5c4a1;
}

.stringLabels.focus{
    background-color: #d3869b;
    outline: 1px solid #282828;
    outline-offset: 1px;
}

.staveEnd{
    grid-column: 3;
    grid-row: 1;
    height: 100%;
    width: 100%;
    user-select: none;
    cursor: col-resize;
    transition: all 70ms ease-in-out;
    background-color: transparent;
    outline: 1px solid #d5c4a100;
}

.staveEnd:hover{
    background-color: #d5c4a1;
    outline: 1px solid #d5c4a1;
}

.staveEnd.focus{
    background-color: #d3869b;
    outline: 1px solid #282828;
    outline-offset: 1px;
}

.textBox{
    font-family: 'FantasqueSansMono', monospace;
    min-height: 1em;
    min-width: 8em;
    background-color: transparent;
    border: 0px;
    cursor: text;
    height: fit-content;
}

.textBox:empty::before{
    content: 'type here...';
    color: #928374;
}

.textBox:not(:empty)::before{
    content: '';
}

.textBox:focus-visible{
    outline: 0;
}

.textBox::selection{
    color: #fbf1c7;
    background: #83a498;
}

.transientInputContainer{
    background-color: #504945;
    border: 1px solid #665c54;
    box-shadow: 0 0 10px rgba(255,255,255,0.05);
    color: #d5c4a1;
    border-radius: 8px;
    border-top-left-radius: 0px;
    position:absolute;
    transform: translate(0px, 0px);
    flex-direction: column;
    gap: 0.1em;
    left: 0;
    top: 0;
}

.transientInput{
    z-index: 10;
    background-color: transparent;
    min-width: 4em;
    min-height: 1em;
    padding: 0.2em 0.3em;
    font-size: 0.8em;
}

.transientInput::before{
    content: '> ';
    font-size: 0.5em;
    vertical-align: middle;
}

.transientInput:focus-visible{
    outline: 0;
}

.transientButton{
    z-index: 10;
    background-color: transparent;
    min-width: 1em;
    min-height: 1em;
    user-select: none;
    cursor: pointer;
    padding: 0.2em 0.3em;
    font-size: 0.8em;
}

.transientButton:hover{
    background-color: #d5c4a133;
}

.transientLabel{
    z-index: 10;
    background-color: transparent;
    min-width: 1em;
    min-height: 1em;
    user-select: none;
    padding: 0.2em 0.3em;
    font-size: 0.5em;
}

