* {
    box-sizing: border-box;
}

@font-face{
    font-family: FantasqueSansMono;
    src: url('/fonts/FantasqueSansMono-Regular.ttf') format('truetype');
    font-display: swap;
}

body{
    margin: 0;
    font-family: 'FantasqueSansMono', monospace;
    font-size: 1.6vw;
    overflow: hidden;
    --color-dark-primary: #1d2021;
    --color-dark-secondary: #343434;
    --color-dark-tertiary: #3c3836;
    --color-light-primary: #EBE1D3;
    --color-light-secondary:#BCB4A9;
    --color-light-tertiary: #64605A;
    --color-brown: #312616;
    --color-red: #BB4D3A;
    --color-red-dark: #743327;
    --color-blue: #689A9D;
    --color-blue-dark: #557C7E;
}

.appContainer{
    background: var(--color-dark-primary);
    height: 100vh;
    width: 100vw;
}

.appContent{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark-secondary) transparent;
    padding: 1em;
}

.appFooter{
    position: absolute;
    inset: auto 0 0 0;
    margin: auto;
    width: fit-content;
    height: 10vw;
    min-height: 6vh;
    max-height: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em;
    z-index: 2;
}

.ribbonContainer {
    display: flex;
    flex: 1;
    width: fit-content;
    flex-direction: row;
    padding: 0.25em;
    border-radius: 8px;
    background-color: var(--color-dark-primary);
    border: 1px solid var(--color-dark-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s ease-in-out;
    gap: 0.25em;
}

.ribbonButton{
    background-color: var(--color-dark-primary);
    transition: all 80ms ease-in-out;
    border: 1px solid var(--color-dark-secondary);
    border-radius: 7.75px;
    justify-content: center;
    aspect-ratio: 1/1;
    color: var(--color-light-primary);
}

.ribbonButton:hover{
    background-color: var(--color-dark-secondary);
}

.ribbonButton:active{
    border: 1px solid var(--color-light-tertiary);
    background-color: var(--color-dark-tertiary);
}

.ribbonButton svg{
    width: 50%;
    height: 50%;
}

.ribbonSplitDropdown{
    background-color: transparent;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    aspect-ratio: 1.4 / 1;
}

.ribbonSplitDropdownButton{
    background-color: var(--color-dark-primary);
    transition: all 80ms ease-in-out;
    border: 1px solid var(--color-dark-secondary);
    border-radius: 7.75px;
    justify-content: center;
    aspect-ratio: 1/1;
    color: var(--color-light-primary);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.ribbonSplitDropdownButton:hover{
    background-color: var(--color-dark-secondary);
}

.ribbonSplitDropdownButton:active{
    border: 1px solid var(--color-light-tertiary);
    background-color: var(--color-dark-tertiary);
}

.ribbonSplitDropdownButton svg{
    width: 50%;
    height: 50%;
}

.ribbonSplitDropdownDropdown{
    background-color: var(--color-dark-primary);
    transition: all 80ms ease-in-out;
    border: 1px solid var(--color-dark-secondary);
    border-radius: 7.75px;
    justify-content: center;
    min-width: 1em;
    width: 100%;
    color: var(--color-light-primary);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
}

.ribbonSplitDropdownDropdown:hover{
    background-color: var(--color-dark-secondary);
}

.ribbonSplitDropdownDropdown:active{
    border: 1px solid var(--color-light-tertiary);
    background-color: var(--color-dark-tertiary);
}

.ribbonSplitDropdownDropdown svg{
    width: 80%;
    height: 100%;
}

.exportButton{
    display: flex;
    transition: all 80ms ease-in-out;
    aspect-ratio: 1 /1;
    border-radius: 8px;
    background-color: var(--color-dark-primary);
    border: 1px solid var(--color-dark-secondary);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: var(--color-light-primary);
}

.exportButton svg{
    display: block;
    margin: auto;
    height: 30%;
    width: 30%;
}

.exportButton:hover{
    background-color: var(--color-dark-secondary);
}

.exportButton:active{
    border: 1px solid var(--color-light-tertiary);
    background-color: var(--color-dark-tertiary);
}

.workspaceContainer{
    height: fit-content;
    min-height: 90vh;
    width: calc(100% - 8em);
    border-radius: 16px;
    padding: 1em;
    background-color: var(--color-light-primary);
    border: 1px solid #555;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
    transition: box-shadow 0.1s ease-in-out,
                filter 0.2s ease-out;
    filter: drop-shadow(0 0 10px rgba(255,255,255,0.2));
    position: static;
    margin: auto;
    font-size: 1em;
    overflow: hidden;
}

.workspaceContainer:focus{
    border: 1px solid #555;
    outline: 0;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    filter: drop-shadow(0 0 10px rgba(255,255,255,0));
}

.postWorkspaceBlankspace{
    width: calc(100% - 8em);
    height: 20vh;
}

.prototypeContainer{
    position: relative;
    z-index: auto;
    background-color: transparent;
    display: grid;
    gap: 0.5em;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0);
    transition: 
        box-shadow 80ms ease-in-out;
    padding: 0.5em;
    min-height: 1em;
    width: fit-content;
    margin-bottom: 0.5em;
    color: #282828;
    transform: scale(100%);
    backdrop-filter: blur(2px);
}

.prototypeContainer:hover{
    outline: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.prototypeContainer.hover{
    outline: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.prototypeContainer:focus-within{
    outline: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.prototypeContainer.dragged{
    z-index: 50;
    background-color: rgba(var(--color-light-primary), 0.8);
    outline: 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.prototypeContainer.stave{
    grid-template-columns: 2em auto;
}

.prototypeContainer.stave.articulated{
    grid-template-columns: 2em auto;
    grid-template-rows: auto 1em;
    row-gap: 0;
}

.prototypeContainer.text{
    grid-template-columns: 2em auto;
}

.prototypeContainer:hover .contextMenu{
    opacity: 100%;
}

.prototypeContainer.hover .contextMenu{
    opacity: 100%;
}

.contextMenu{
    min-height: 1em;
    height: 100%;
    width: 2em;
    border-radius: 8px 0px 0px 8px;
    opacity: 0%;
    transition: opacity 180ms ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    clip-path: fill-box;
}

.dragHandle{
    color: var(--color-light-secondary);
    width: 2em;
    min-height: 1em;
    max-height: 1.5em;
    height: min(100%, 1.5em);
    text-align: center;
    align-content: center;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    border: 0;
    transition: all 80ms ease-in-out;
}

.dragHandle:hover{
    color: var(--color-light-tertiary);
    background-color: var(--color-light-secondary);
    border: 0;
}

.dragHandle:active{
    color: var(--color-light-primary);
    background-color: var(--color-light-tertiary);
    border: 0;
}

.dragHandle.forceActive{
    color: var(--color-light-primary);
    background-color: var(--color-light-tertiary);
    border: 0;
}

.dragHandle svg{
    width: 100%;
    height: 100%;
}

.deleteButton{
    color: var(--color-light-secondary);
    width: 2em;
    min-height: 1em;
    max-height: 1.5em;
    height: min(100%, 1.5em);
    text-align: center;
    align-items: center; 
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    border: 0;
    transition: all 80ms ease-in-out;
    display: none;
}

.deleteButton:hover{
    color: var(--color-light-tertiary);
    background-color: var(--color-light-secondary);
}

.deleteButton.show{
    display: flex;
}

.deleteButton svg{
    width: 100%;
    height: 60%;
}

.deleteButton.confirmDelete{
    color: #f9f5d7;
    background-color: var(--color-red);
}

.deleteButton.confirmDelete:active{
    color: #f9f5d7;
    background-color: var(--color-red-dark);
}

.staveBox{
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1em auto 0.5em;
    grid-template-rows: 100%;
    gap: 2px;
}

.staveGrid{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: fit-content;
    padding: 0;
    gap: 0px 0px;
}

.staveGridCell{
    background-color: transparent;
    font-size: larger;
    width: 1em;
    height: 1em;
    text-align: center;
    user-select: none;
    transition: all 50ms ease-in-out;
}

.staveGridCell.highlight{
    background-color: var(--color-light-secondary);
    z-index: 0;
}

.staveGridCell.highlight:hover:not(.focus){
    background-color: var(--color-light-tertiary);
    z-index: 2;
}

.staveGridCell:hover{
    background-color: var(--color-light-secondary);
    z-index: 2;
}

.staveGridCell.focus{
    background-color: var(--color-blue);
    z-index: 3;
}

.staveGridCell.focus:hover{
    background-color: var(--color-blue-dark);
    z-index: 3;
}

.stringLabels{
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    user-select: none;
    cursor: pointer;
    transition: all 70ms ease-in-out;
    background-color: transparent;
}

.stringLabels:hover{
    background-color: var(--color-light-secondary);
}

.staveEnd{
    grid-column: 3;
    grid-row: 1;
    height: 100%;
    width: 100%;
    user-select: none;
    cursor: col-resize;
    transition: all 70ms ease-in-out;
    background-color: transparent;
}

.staveEnd:hover{
    background-color: var(--color-light-secondary);
}

.staveEnd.focus{
    color: var(--color-light-primary);
    background-color: var(--color-light-tertiary);
}

.staveArticulationContainer{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr;
    padding-left: 1.08em;
}

.hoverHelper{
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: 999;
    width: 20em;
    height: 6em;
    top: -4em;
    left: -9.2em;
    border-radius: 0;
    clip-path: polygon(50% 60%, 100% 60%, 50% 100%, 0 60%);
}

.hoverHelper.hidden{
    pointer-events: none;
    opacity: 0%;
}

.hoverHelper.shown{
    pointer-events: all;
    opacity: 100%;
}

.hoverMenu{
    color: var(--color-light-tertiary);
    opacity: 0%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    top: 1.5em;
    left: 0;
    transition: opacity 160ms ease-in-out, background-color 80ms ease-in-out, color 80ms ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    backdrop-filter: blur(4px);
}

.hoverMenu:hover{
    cursor: pointer;
    background-color: var(--color-light-secondary);
}

.hoverMenu:active{
    cursor: pointer;
    color: var(--color-light-primary);
    background-color: var(--color-light-tertiary);
}

.hoverMenu.hidden{
    pointer-events: none;
    opacity: 0%;
}

.hoverMenu.shown{
    pointer-events: all;
    opacity: 100%;
}

.articulationCell{
    color: var(--color-light-secondary);
}

.articulationCell.highlight:hover:not(.focus){
    background-color: var(--color-light-tertiary);
    z-index: 2;
}

.articulationCell:hover{
    background-color: var(--color-light-secondary);
    color: var(--color-light-primary);
    z-index: 2;
}

.articulationCell.focus{
    background-color: var(--color-blue);
    color: var(--color-light-primary);
    z-index: 3;
}

.articulationCell.focus:hover{
    background-color: var(--color-blue-dark);
    color: var(--color-light-primary);
    z-index: 3;
}

.textBox{
    font-family: 'FantasqueSansMono', monospace;
    min-height: 1em;
    min-width: 8em;
    background-color: transparent;
    border: 0px;
    cursor: text;
    height: fit-content;
    align-self: center;
    line-height: 1.5em;
}

.textBox:empty::before{
    content: 'type here...';
    color: var(--color-light-secondary);
}

.textBox:not(:empty)::before{
    content: '';
}

.textBox:focus-visible{
    outline: 0;
}

.textBox::selection{
    color: var(--color-light-primary);
    background: var(--color-blue);
}

.transientInputContainer{
    display: flex;
    background-color: var(--color-dark-primary);
    border: 1px solid var(--color-dark-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--color-light-primary);
    border-radius: 8px;
    position:absolute;
    transform: translate(0px, 0px);
    flex-direction: column;
    gap: 0.1em;
    left: 0;
    top: 0;
    z-index: 9;
}

.transientItem{
    z-index: 10;
    background-color: transparent;
    min-width: 1em;
    min-height: 1em;
    padding: 0.4em 0.5em;
    font-size: 0.6em;
}

.transientItem:last-of-type{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.transientItem.transientInput{
    min-width: 4em;

}

.transientItem.transientInput::before{
    content: '> ';
    font-size: 0.5em;
    vertical-align: middle;
}

.transientItem.transientInput:focus-visible{
    outline: 0;
}

.transientItem.transientButton{
    user-select: none;
    cursor: pointer;
}

.transientItem.transientButton:hover{
    background-color: var(--color-dark-tertiary);
}

.transientItem.transientLabel{
    user-select: none;
}

.transientItem.transientDivisor{
    width: 100%;
    min-height: 1px;
    height: 1px;
    background: var(--color-dark-tertiary);
    padding: 0;
}

